@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #663399; /* cor cinza claro*/
}
img#eddie {
    width: 140px;
    position: absolute;
    right: 0px;
    top: 0px;
}

img#eddie2 {
    width: 140px;
    position: absolute;
    left: 0px;
    top: 0px;
}

header {
    background-color: #FF00FF;
    box-shadow: 1px 1px 4px black;
}

hgroup {
    text-align: center;
    margin-bottom: 15px;
    padding: 1px;

    font-family: Algerian;
    font-size: 18pt;


}

nav {
    position: absolute;
    left: 30px;
    background-color: #E6E6FA;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 4px black;
}

ul {
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 70px;
    margin-right: 40px;
    margin-left: 40px;

}

li {
    background-color: #FF00FF;
    margin-top: 20px;
    padding: 3px;
    text-align: center;
    font-family: Arial;
    font-size: 13pt;
    font-weight: bolder;
    transition: background-color 0.5s;



}

li:hover {
    background-color: #606060; /* cinza escuro */
}

div#div1 {

}

div#div2 {
    font-family: Bahnschrift;
    background-color: #E6E6FA;
    margin-left: 600px;
    margin-right: 200px;
    box-shadow: 1px 1px 4px black;
    margin-bottom: 20px;
    padding: 20px;

}

section#section2 {
    font-family: Bahnschrift;
    font-size: 15pt;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

div#div3 {
    background-color: #;
    margin-left: 600px;
    margin-right: 200px;

    padding: 20px;
    box-shadow: 1px 1px 1px black;
}

section#section3 {
    font-family: Bahnschrift;
    font-size: 15pt;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

div#eu {
    margin-left: 260px;

    padding: 0px;
}

img#nathan {
    width: 400px;
    height: 600px;

}

footer {
    background-color: #FF00FF;
    box-shadow: 1px 1px 1px black;
    padding: 1px;
    text-align: center;
    margin-top: 110px;
}